* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* 确定版心 */
.w {
    width: 1226px;
    margin: 0 auto;
}
i,em{
    font-style: normal;
}
body {
    background-color: #f5f5f5;
}
.bg_color {
    background-color: #fff;
}
/* head开始 */
.head{
    height: 40px;
    background-color: #424242;
}
.head .w {
    height: 40px;
    /* background-color: aquamarine; */
}
a {
    text-decoration: none;
    color: #000;
}
ul li {
    list-style: none;
}
.head ul li {
    /* float: left; */
    line-height: 40px;
    font-size: 12px;
    /* color: #b0b0b0; */
}
.head li a:hover {
    color: #fff;
}
.head .left li {
    float: left;
}
.head .left li:first-child a{
    padding-left: 0px;
}
.head ul li span {
    color: #575757;
}
.head ul li a {
    color: #b0b0b0;
    padding: 0 5px;
    
}
.right {
    float: right;
}
.right li {
    float: left;
}
.right li:last-child{
    display: inline-block;
    width: 120px;
    background-color: rgba(176,176,176,0.1);
    margin-left: 20px;
}
.right img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.right .hid1 span {
    /* text-align: center; */
     font-size: 20px;
    color: #fff; 
}
.right .hid1:hover span{
    color: rgb(255, 81, 0);;
}
.down {
    position: relative;
}
.app img {
    margin-top: 18px;
    width: 90px;
    height: 90px;
}
.down:hover .app{
    /* display: block; */
    height: 140px;
   
}
.down:hover .trangle{
    display: block;
}
.down .app{
    /* display: none; */
    position: absolute;
    overflow: hidden;
    z-index: 999;
    top:40px;
    left: -20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 1px 5px #aaa;
    border-top: 1px solid #fff;
    width: 130px;
    height: 0px;
    transition: all 0.3s;
}
.app p {
    margin-top: -20px;
    font-size: 14px;
}
.trangle {
    display: none;
    position: absolute;
    top: 22px;
    left: 15px;
    border-top:10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #fff;
}
.hid1 {
    position: relative;
}
.right .hid1:hover {
    background-color: #fff;
   
}
.right .hid1:hover a{
    color: rgb(255, 81, 0);
}
.hid1:hover .hidd1{
    height: 100px;
}
.hidd1 {
    /* display: none; */
    z-index: 3;
    transition: all 0.3s;
    position: absolute;
    top:40px;
    left: -218px;
    text-align: center;
    line-height: 100px;
    width: 338px;
    height: 0px;
    overflow: hidden;
    
    border-top: none;
    box-shadow: 0 1px 5px #aaa;
    background-color: #fff;
}
/* footer开始 */
.footer {
    margin-top: 30px;
}
.footer .mod_service{
    width: 1226px;
    height: 80px;
    /* background-color: #b0b0b0; */
}
/* .mod_service ul{
    line-height: 80px;
} */
.mod_service ul li{
    margin-top: 30px;
    width: 242px;
    height: 25px;
    float: left;
    /* padding-left: 50px; */
    text-align: center;
    border-right: 1px solid #616161;
    /* background-color: #000; */
    
}
.mod_service ul li:last-of-type {
    border-right: none;
}
.mod_service ul li a{
    color: #616161;
}
/* .ff1::before {
    content: '\&#xe69f';
} */
.mod_service ul li span {
    font-size: 20px;
}
.mod_service ul li a:hover {
    color: red;
}
.mod_help {
    height: 430px;
    text-align: center;
    padding: 40px;
    padding-right: 0px;
    /* background-color: red; */
}
.mod_help dl section {
    float: left;
    width: 100px;
    margin-left: 80px;
    font-size: 14px;
    color: #424242;
    text-align: left;
}
.mod_help dl section dt{
    margin-bottom: 30px;
    font-weight: 530;
}
.mod_help dl section dd{
    font-size: 12px;
    
    margin-bottom: 15px;
    color: #757575;
}
.mod_help dl section dd a:hover{
    color: red;
}
 .help {
     float: right;
     width: 260px;
     height: 80px;
     border-left: 1px solid #000;
 }
 .help .phone{
     font-size: 22px;
     color: #ff6700;
     margin-bottom: 15px;
 }
 .help p{
     height: 18px;
     font-size: 12px;
     color: #616161;
 }
 .help a {
     display: block;
     height: 30px;
     width: 120px;
     margin-top: 10px;
     margin-left: 60px;
     font-size: 12px;
     line-height: 30px;
     color: #ff6700;
     border: 1px solid #ff6700;
 }
 .help .iconfont {
     font-size: 12px;
 }
 .site_info {
     padding-top: 20px;
     height: 210px;
     /* background-color: aqua; */
 }
 .intext img {
     float: left;
     width: 56px;
     height: 56px;
 }
 .intext ul{
     float: right;
     width: 1149px;
     height: 40px;
     /* background-color: antiquewhite; */
 }
 .intext ul li {
     float: left;
     font-size: 12px;
     color: #757575;
 }
 .intext ul li a{
    margin: 0 5px;
 }
 .intext ul li a:hover{
     color: #ff6700;
 }
 .intext .p{
     float: right;
     display: block;
     /* padding-right: 550px; */
     color: #b0b0b0;
     font-size: 12px;
     width: 1149px;
     height: 72px;
     /* background-color: red; */
 }
 .intext .p a{
     color: #b0b0b0;
 }
 .intext .p a:hover{
     color: #ff6700;
 }
.info_links {
    margin-top: 5px;
    width: 1226px;
    padding-left: 75px;
    height: 28px;
    /* margin-bottom: 30px; */
}
.info_links img{
    float: left;
    /* width: 28px; */
    margin-right: 5px;
    height: 28px;
}

.last {
    padding-left: 75px;
    text-align: center;
    width: 100%;
    height: 19px;
    color: #757575;
    font-size: 20px;
    margin-bottom: 40px;
}
.last span {
    margin: 0 auto;
}
/* hometool右侧导航栏 */
.hometool {
    position: fixed;
    right: 0px;
    bottom: 20px;
    width: 80px;
    height: 550px;
    /* background-color: #fff; */
}
.hometool ul li {
    display: block;
    height: 80px;
    /* background-color: #ff6700; */
    text-align: center;
    padding-top: 20px;
    border-bottom: 1px solid #aaa;
    background-color: #fff;
}
.appa {
    position: relative;
}
.appa:hover .appb{
    display: block;
}
.appa:hover .tra {
    display: block;
}
.appb {
    display: none;
    position: absolute;
    top: -1px;
    left: -140px;
    width: 125px;
    height: 180px;
    background-color: #fff;
}
.tra {
    display: none;
    position: absolute;
    top: 30px;
    left: -15px;
    border-top:10px solid transparent;
    border-left: 15px solid #fff;
    border-right: 8px solid transparent;
    border-bottom: 10px solid transparent;

}
.appa .appb p {
    font-size: 14px;
}
.appb img {
    margin-top: 20px;
    width: 90px;
    height: 90px;
}
.hometool ul li span {
   font-size: 30px;
}
.hometool ul li:hover {
    color: #ff6700;
}
.hometool ul li:hover span {
    color: #ff6700;
}
.hometool ul li:hover a {
    color: #ff6700;
}
.hometool ul li p {
    margin-top: 5px;
    font-size: 12px;
}
.hometool ul li:nth-child(n+5) {
    border-bottom: none;
}
.hometool ul li:last-child {
    margin-top: 30px;
}