.nav {
    height: 100px;
}
.nav .w {
    padding: 22px 0px;
}
.left2 {
    float:left;
    width: 234px;
}
.nav .left2 img {
    width: 56px;
    height: 56px;
}
.right2 {
    line-height: 50px;
    font-size: 16px;
}
.right2 ul li{
    position: relative;
    float: left;
    margin-left: 3px;
    margin-right: 15px;
}
.wrap {
    width: 1226px;
    margin: 0 auto;
    text-align: center;
}

.nav-bar-list {
    z-index: 666;
    width: 1776px;
    overflow: hidden;
    height: 0px;
    text-align: center;
    background-color: #fff;
    /* background-color: #ff6700; */
    border-top: 1px solid #eee;
    box-shadow: 0 3px 4px rgba(0,0,0,.1);
    position: absolute;
    left: -500px;
    top: 78px;
    transition: all 0.4s ease;
    opacity: 8;
    /* display: none; */
}
.nav-bar-list ul li {
    float: left;
    
}
/* 当鼠标滑动到li标签上时，显示对应的二级下拉菜单 */
.right2 li:hover .nav-bar-list {
    height: 229px;
    /* display: block; */
}
 
.nav-bar-list .img-box1 {
    width: 100%;
    height: 110px;
    margin-top: 35px;
    /* 实现每个商品右侧的分割线 */
    border-right: 1px solid #eee;
    margin-bottom: 16px;
}
 
.img-box1 img {
    transition: all .3s;
    width: 160px;
    height: 110px;
}
 /* 经过图片时，图片动起来 */
/* .img-box1 img:hover {
    transform: translateY(-5px) scale(1.1);
} */
 
.nav-bar-list li:last-child .img-box1{
    border-right: 0;
}
 
.nav-bar-list p {
    font-size: 12px;
    line-height: 20px;
}
 
.nav-bar-list .name1 {
    color: #333;
}
 
.nav-bar-list .price1 {
    color: #ff6700;
}
.nav .w {
    position: relative;
}
.nav input {
    position: absolute;
    /* left: -1px; */
    right: 49px;
    width: 245px;
    height: 50px;
    margin-left: 26px;
    padding: 0 10px;
    outline: none;
}
.nav input:hover {
    border:1px solid red ;
}
.Redmi11 {
    left: -602px;
}
.tele {
    left: -700px;
}
.book1 {
    left: -760px;
}
.book2 {
    left: -800px;
}
.jiadiana {
    left: -850px;
}
.luyou {
    left: -900px;
}
.nav .right2 .book1 .img-box1 img{
    height: 160px;
    width: 180px;
}
.nav span {
    /* position: absolute; */
    /* left: -1px; */
    float: right;
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #b0b0b0;
    cursor: pointer;
}
.nav span:hover {
    background-color: #ff6700;
    border: 1px solid red;
    color: #fff;
}
.nav span img {
     width: 20px;
    height: 20px;
} 
.right2 li a:hover {
    color: #ff6700;
}
.nav span {
    font-size: 20px;
}
/* main开始 */
.main {
    height: 460px;
}
.subnav {
    float: left;
    width: 234px;
    height: 460px;
    padding: 30px 0px;
    background-color: #b0b0b0;
}
.subnav ul li{
    position: relative;
    padding-left: 30px;
    width: 234px;
    height: 42px;
    line-height: 42px;
    color: #fff;
}
.subnav ul>li:hover {
    background-color: #ff6700;
}
.subnav ul>li:hover .mobile {
    display: block;
}
.subnav ul li span{
    float: right;
    padding-right: 30px;
    font-size: 20px;
    color: #fff;

}
.subnav .mobile {
    display: none;
    background-color: #fff;
    
}
.subnav .mobile ul {
    position: absolute;
    top: -28px;
    left: 234px;
    width: 992px;
    height: 460px;
    z-index: 999;
    background-color: #fff;
    box-shadow:2px 3px  3px 4px rgba(0,0,0,.1);
}
.subnav .mobile ul li{
    float: left;
    width: 248px;
    height: 76px;
}
.subnav .mobile ul li a{
    position: relative;
    display: block;
    width: 248px;
    height: 76px;
    padding-top: 10px;
}
.subnav .mobile ul li:hover {
    background-color: #fff;
}
.subnav .mobile ul li a:hover span{
    color: #ff6700;
    background-color: #fff;
}
.subnav .mobile ul li a img {
    /* width: 100px; */
    height: 50px;
}
.subnav .mobile ul li a span {
    position: absolute;
    left: 60px;
    color: #000;
    font-size: 14px;
}
.pic {
    position: relative;
    float: right;
    width: 992px;
    height: 460px;
    /* background-color: #ff6700; */
}
.pic  a:hover {
    background-color: #333;
}
.pic .pre_arrow {
    display: block;
    position: absolute;
    left:0px;
    top: 210px;
    width: 40px;
    height: 70px;
    padding-top: 10px;
}
.pic .next_arrow {
    display: block;
    position: absolute;
    right:0px;
    top: 210px;
    width: 40px;
    padding-top: 10px;
    height: 70px;
}
.pic span {
    margin-left: -5px;
}
.pic .iconfont {
    /* margin-left: 10px; */
    font-size: 50px;
    color: #fff;
    font-weight: lighter;
}
.pic ul li a:hover {
    background-color: #ccc;
}
.pic ul li:first-child a {
    background-color: #ccc;
}
.pic ul li a{
    display: block;
    float: left;
    color: #fff;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid #333;
    background-color: #000;
}
.pic ul {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 100px;
    height: 20px;
}
.main .pic img {
    width: 100%;
    height: 100%;
}
.main .subnav ul li .com12 ul{
    top: -70px;
}
.main .subnav ul li .com13 ul {
    top: -112px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}
.main .subnav ul li .go ul {
    top: -154px;
    width: 744px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}
.main .subnav ul li .voice ul {
    top: -196px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}
.main .subnav ul li .homeuse ul{
    top: -238px;
}
.main .subnav ul li .luyouq ul {
    top: -280px;
}
.main .subnav ul li .ele ul {
    top: -322px;
    width: 496px;
}
.main .subnav ul li .health ul {
    top: -364px;
} 
.main .subnav ul li .live ul {
    top: -406px;
}
 /* recom开始 */
.recom {
    padding-top: 20px;
    height: 230px;
    padding-bottom: 50px;

}
.left_ser {
    float: left;
    width: 234px;
    height: 180px;
    background-color: #5f5750;
}
.left_ser ul li {
    float: left;
    width: 78px;
    height: 89px;
    padding: 0 3px;
    overflow: hidden;
    padding-top: 20px;
    border-right: 1px solid #747474;
    border-bottom: 1px solid #6b6969;
    text-align: center;
}
.left_ser ul li:nth-child(n+4) {
    border-bottom: none;
}
.left_ser ul li a img {
    /* display: block; */
    width: 24px;
    height: 24px;
}
.left_ser ul li a span{
    display: block;
    font-size: 12px;
    color: #b0b0b0;
}
.left_ser ul li a:hover span{
    color: #fff;
}
.recom_pic {
    float: left;
    height: 180px;
    /* padding-left: 10px; */
    width: 992px;
    /* background-color: #ff6700; */
}
.recom_pic img {
    margin-left: 11.4px;
    width: 316px;
    height: 180px;
}
/* pic开始 */
.recom::after {
    clear: both;
} 
 .pho2 .w{
    margin-top: 30px;
}
.pho2 a img {
    width: 1226px;
    height: 120px;
}
/* phone模块开始 */
.phone {
    margin-top: 20px;
}
/* flex布局 */
.phone h2 {
    display: flex;
    height: 58px;
    line-height: 58px;
    justify-content: space-between;
}
.phone h2 span{
    color: #333;
    font-size: 22px;
    font-weight: 400;
}
.phone h2 a{
    color: #424242;
    font-size: 16px;
    font-weight: 400;
    width: 92px;
    height: 18px;
}
.phone h2 a span {
    font-size: 16px;
    color: gray;
}
.phone h2 a:hover {
    color: #ff6700;
}
.phone h2 a:hover span {
    color: #ff6700;
}
.bottom {
    height: 614px;
}
.bottom .redmi_left {
    float: left;
}
.redmi_left  a img {
    width: 234px;
    height: 614px;
}
.bottom .redmi_left a{
    display: block;
    width: 234px;
    height: 614px;
    background-color: #fff;
    transition: all 0.3s;
}
 .redmi_left a:hover {
    transform: translateY(-5px) scale(1.01);
    /* z-index: 5; */
    box-shadow: 0 1px 5px #aaa;
}
/* flex布局 */
.bottom .redmi_right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    padding-left: 15px;
    float: left;
    width: 992px;
    height: 614px;
    /* background-color: red; */
}

.redmi_right i a{
    display: block;
    width: 234px;
    height: 300px;
    padding: 20px 0px;
    text-align: center;
    background-color: #fff;
    transition: all 0.3s;

}
.redmi_right i a img {
    width: 160px;
    height: 160px;
}
.redmi_right h3 {
    width: 214px;
    height: 21px;
    font-size: 14px;
    color: #333;
    font-weight: 400;
    padding: 0 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.redmi_right .name2 {
    width: 214px;
    height: 18px;
    color: #b0b0b0;
    font-size: 12px;
    margin-bottom: 20px;
    /* 单行多余显示省略号 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 0 5px;
}
.redmi_right .price2 {
    width: 214px;
    height: 21px;
}
.price2 span {
    color: #ff6700;
    font-size: 14px;
}
.price2 .del {
    color: #b0b0b0;
}
.redmi_right i a:hover {
    transform: translateY(-5px) scale(1.01);
    /* box-shadow: ; */
    box-shadow: 0 1px 5px #aaa;
    /* z-index: 5; */
}
/* watch开始 */
.phone .redmi_right .more{
    /* display: inline; */
    display: block;
    width: 234px;
    height: 143px;
    /* line-height: 110px; */
    padding-top: 40px;
    background-color: #fff;
   
}
.phone .w h2 i a:hover {
    border-bottom: 2px solid #ff6700;
    /* color: #ff6700; */

}
.phone .w h2 i a:nth-of-type(1)  {
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}
.more {
    transition: all 0.3s;
}
.more a {
    display: block;
    width: 234px;
    height: 45px;
    transition: all 0.3s;
    /* margin-top: 30px; */
}
.more:hover {
    transform: translateY(-5px) scale(1.01);
    box-shadow: 0 1px 5px #aaa;
}
.more_other {
    float: left;
}
.more_other section {
    width: 94px;
    height: 45px;
    margin-left: 30px;
    font-size: 18px;
    color: #333;
}
.more_other section span {
    margin-top: -5px;
    font-size: 12px;
    color: #757575;
}
.more em {
    margin-left: 30px;
    font-size: 48px;
    color: #ff6700;
}
/* computer开始 */
.computer .w h2 a {
    display: block;
    margin-top: 20px;
    height: 25px;
    width: 35px;
    line-height: 25px;
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}
.computer .w .redmi_right em {
    width: 234px;
    height: 300px;
}
.computer .w .redmi_right em ul li:first-child {
    margin-bottom: 12px;
}
.computer .w .redmi_right em ul li {
    width: 234px;
    height: 143px;
    background-color: #fff;
    padding-top: 40px;
    transition: all 0.3s;
}
.computer .w .redmi_right em ul li a {
    position: relative;
    display: block;
    width: 234px;
    height: 68px;
    padding-left: 20px;
}
.computer .w .redmi_right em ul li a h3 {
    float: left;
    width: 94px;
    height: 42px;
    font-size: 14px;
    color: #333;
    /* padding-top: 10px; */
    white-space: wrap;
    text-overflow: none;
    overflow: visible;
}
.computer em ul li:hover {
    transform: translateY(-5px) scale(1.01);
    box-shadow: 0 1px 5px #aaa;
}
.computer em ul li  a img {
    position: absolute;
    top: -10px;
    right: 20px;
    margin-left: 10px;
    float: left;
    width: 80px;
    height: 80px;
}
.computer em ul li  a span {
    /* width: 94px; */
    position: absolute;
    left:28px;
    top: 60px;
    height: 21px;
    font-size: 12px;
    color: #ff6700;
}
.computer em ul li  a .more1 {
    float: left;
    width: 94px;
    height: 45px;
    font-size: 18px;
    color: #333;
    font-weight: 400;
    /* background-color: skyblue; */
}
.more1 i {
    font-size: 12px;
    color: #757575;
}
.computer em ul li  a .iconfont {
    display: block;
    position: absolute;
    top: 0px;
    left: 150px;
    font-size: 48px;
}
/* jiadian开始 */
.jiadian .jiadian_left {
    float: left;
    width: 234px;
    height: 614px;
    /* background-color: #424242; */
}
.jiadian .jiadian_left section:first-child {
    margin-bottom: 14px;
}
.jiadian .jiadian_left section a{
    display: block;
    width: 234px;
    height: 300px;
    transition: all 0.3s;
    
}
.jiadian .jiadian_left section img {
    width: 234px;
    height: 300px;
}
.jiadian .jiadian_left section a:hover {
    transform: translateY(-5px) scale(1.01);
    box-shadow: 0 1px 5px #aaa;
}
.jiadian .w .redmi_right em {
    width: 234px;
    height: 300px;
    /* background-color: #ff6700; */
}
.jiadian .w .redmi_right em ul li:first-child {
    margin-bottom: 12px;
}
.jiadian .w .redmi_right em ul li {
    width: 234px;
    height: 143px;
    background-color: #fff;
    padding-top: 40px;
    transition: all 0.3s;
}
.jiadian .w .redmi_right em ul li a {
    position: relative;
    display: block;
    width: 234px;
    height: 68px;
    /* background-color: #ff6700; */
    padding-left: 20px;
    /* margin-top: 30px; */
}
.jiadian .w .redmi_right em ul li a h3 {
    float: left;
    width: 94px;
    height: 42px;
    font-size: 14px;
    color: #333;
    /* padding-top: 10px; */
    white-space: wrap;
    text-overflow: none;
    overflow: visible;
}
.jiadian em ul li:hover {
    transform: translateY(-5px) scale(1.01);
    box-shadow: 0 1px 5px #aaa;
}
.jiadian em ul li  a img {
    position: absolute;
    top: -10px;
    right: 20px;
    margin-left: 10px;
    float: left;
    width: 80px;
    height: 80px;
}
.jiadian em ul li  a span {
    /* width: 94px; */
    position: absolute;
    left:28px;
    top: 60px;
    height: 21px;
    font-size: 12px;
    color: #ff6700;
}
.jiadian em ul li  a .more1 {
    float: left;
    width: 94px;
    height: 45px;
    font-size: 18px;
    color: #333;
    font-weight: 400;
    /* background-color: skyblue; */
}
.more1 i {
    font-size: 12px;
    color: #757575;
}
.jiadian em ul li  a .iconfont {
    display: block;
    position: absolute;
    top: 0px;
    left: 150px;
    font-size: 48px;
}
/* video开始 */
.video .w {
    /* display: flex; */
    height: 360px;
    margin-top: 30px;
    /* justify-content: space-between; */
    /* background-color: #ff6700; */
}
.video .w h2 {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    height: 58px;
    font-size: 22px;
    color: #333;
    font-weight: 400;
    /* background-color: #aaa; */

}
.video .w h2 a {
    /* position: relative; */
    margin-top: 10px;
    display: block;
    width: 92px;
    height: 18px;
    font-size: 16px;
    color: #424242;
    transition: all 0.4s;
}

.video .w h2 a span {
    color: #b0b0b0;
}

.video .w h2 a:hover {
    color: #ff6700;
}
.video .w h2 a:hover span {
    color: #ff6700;
}
.video .w ul li {
    width: 296px;
    height: 285px;
    float: left;
    background-color: #fff;
    transition: all 0.4s;
}
.video .w ul li:nth-child(2) {
    margin: 0 14px;
}
.video .w ul li:nth-child(3) {
    margin-right: 14px;
}
.video .w ul li a {
    position: relative;
    display: block;
    height: 253px;
    /* background-color: #5f5750; */
    text-align: center;

}
.video .w ul li a video {
    width: 296px;
    height: 180px;
}
.video .w ul li a:hover span{
    background-color: #ff6700;
    border: 2px solid #ff6700;
}
.video ul li a span {
    position: absolute;
    padding-top: 3px;
    top: 140px;
    left:20px;
    display: block;
    color: #fff;
    border: 2px solid #fff;
    width: 35px;
    height: 25px;
    border-radius: 15px;
    background-color: rgba(0,0,0,.6);
}
.video .w ul li a h3 {
    margin-top: 20px;
    width: 268px;
    height: 21px;
    font-size: 14px;
    color: #333;
    font-weight: 400;
}
.video .w ul li a p {
    width: 268px;
    height: 18px;
    margin-top: 10px;
    color: #b0b0b0;
    font-size: 12px;
}
.video .w ul li:hover {
    transform: translateY(-5px) scale(1.01);
    box-shadow: 0 1px 5px #aaa;
}